{{define "useredit"}}
<div class="modal-header">
	<h1 class="modal-title fs-5" id="staticBackdropLabel">{{if .User.Username}}Edit {{.User.Username}}{{else}}Create
		user{{end}}</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form hx-post="/auth/user/{{.User.ID}}/edit" hx-swap="innerHTML" hx-target="#edit_user_content">
	{{ Csrf .csrf }}
	<div class="modal-body">
		{{ if .Message }}
		<div class="alert alert-danger text-left" role="alert">{{ .Message }}</div>
		{{ end }}
		{{ if .Success }}
		<div class="alert alert-success text-left" role="alert">{{ .Success }}</div>
		{{ end }}
		<label>Username:</label>
		<input name="username" required placeholder="Username" type="text" value="{{.User.Username}}" autofocus
			class="form-control">
		<label>Password:</label>
		<input name="password" placeholder="Empty for don't edit password" type="password" value="" class="form-control"
			{{if not .User}}required{{end}}>
		<label>Confirm password:</label>
		<input name="password_confirm" placeholder="Empty for don't edit password" type="password" value=""
			class="form-control" {{if not .User}}required{{end}}>
		<label>Admin:</label>
		<input name="admin" type="checkbox" value="admin" {{if .User.Admin}}checked{{end}} class="form-check-label">
	</div>
	<div class="modal-footer">
		<input type="submit" value="Edit" class="btn btn-primary" class="form-control">
	</div>
</form>
{{end}}